* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: rgb(157, 197, 187);
}

.bell {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid magenta;
    font-size: 50px;
    color: magenta;
    text-align: center;
    line-height: 80px;
    transition: .2s;
    cursor: pointer;
}

.bell i {
    animation: rotate .3s linear infinite alternate;
    transform-origin: 50% 0;
    transition: .2s;
}

.bell:hover {
    background-color: magenta;
}

.bell:hover i {
    color: white;
    animation-duration: .15s;
}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}